nav {
    display: flex;
    list-style: none;   
    gap: 20px;
    padding: 10px;
    background-color: #333;
}

nav li {
    position: relative;
    padding: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    margin-top: 0;
    top: 100%;
    left:0;
    padding:0;
    background-color: #444;
    list-style: none;
    border-radius: 5px;
    display: block;
}

.dropdown-menu li {
    padding: 8px 15px;
}

li:hover {
    background-color: #555;
}
